<!DOCTYPE html>
<html>
<head>
<title>Make a shopping list</title>
</head>
<body>

  <form action="/lists/confirm_stocked_and_arbitrary", method="POST">
    <div>
      Shopping list for the week of <input type="date" name="date" required />
    </div>
    <br />
    <div>Available Recipes:</div>
    <br />
    {% for name in recipe_names %}
      <div><input type="checkbox" name="included" value="{{recipe_ids[loop.index0]}}" />{{name}}: Scale <input type="text" name="scales" value="1.0" /></div>
    {% endfor %}
      <!-- <select name="recipes" id="recipes" multiple size="10" required>
        {% for name in recipe_names %}
        <option value="{{recipe_ids[loop.index0]}}">{{name}}</option>
        {% endfor %}
      </select> -->
    <br />
    <div><input type="submit" value="Create"></div>
  </form>
</body>
</html>
