<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>{{name}}</h1>
    <form action="/recipes/{{id}}/update", method="POST">
        <input type="hidden" name="ingredient_order" value="{{ingredient_order}}" />
        Name <input type="text" name="name" value="{{name}}"/>
        Servings <input type="number" min="1" name="servings" value="{{servings}}" required />
        <h2>Ingredients</h2>
        {% for ingredient in ingredients %}
        <div class="new-recipe-ingredient-line">
            <label class="recipe-name-label">{{ingredient.name}}</label><input class="check-and-scale-scale-text" type="text" name="amounts" value="{{ingredient.amount}}"/><label class="recipe-name-label">Amount</label></li>
            <br />
        </div>
        {% endfor %}
        <h2>Notes</h2>
        <div class="notes"><textarea class="notes-textarea" name="notes">{{notes}}</textarea></div>
        <div><input type="submit" value="Update"></div>
    </form>
</body>
</html>
