<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="sticky-heading">
        <a href="/">Home</a>
        <a href="/recipes/{{id}}/prepare-to-send-to-quick-list">Send to Quick List</a>
    </div>
    <h1>{{name}}</h1>
    <form method="POST">
        <input type="hidden" name="ingredient_order" value="{{ingredient_order}}" />
        <div><label class="proper-word">Name:</label><br /><input type="text" name="name" pattern="^[^ ].+[^ ]$" value="{{name}}" required /></div>
        <br />
        <div><label class="proper-word">Servings:</label><br /><input type="text" inputmode="numeric" min="1" name="servings" value="{{servings}}" required /></div>
        <br />
        <div class="input-line">
            <input id="routine-check" class="check" type="checkbox" name="is_routine" {{already_routine}}/>
            <label class="proper-word-for-status" for="routine-check">Routine</label>
        </div>
        <h2>Ingredients</h2>
        {% for ingredient in ingredients %}
        <div class="input-line">
            <label class="recipe-ingredient-label">{{ingredient.name}}</label>
            <label class="recipe-name-label">Amount</label>
            <input class="check-and-scale-scale-text" type="number" step="0.1" inputmode="numeric" min="1.0" name="amounts" value="{{ingredient.amount}}" required/>
        </div>
        {% endfor %}
        <h2>Notes</h2>
        <div class="notes"><textarea class="notes-textarea" name="notes">{{notes}}</textarea></div>
        <div class="edit-controls sticky-footer">
            <button type="submit" formaction="/recipes/{{id}}/update" name="Update">
                Update
            </button>
            <button class="destructive-button" type="submit" formaction="/recipes/{{id}}/delete" name="Delete">
                Delete
            </button>
        </div>
    </form>
</body>
</html>
