<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing recipes</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="sticky-heading"><a href="/">Home</a></div>
    <h1>Recipes</h1>
    <div class="quick-status">{{message}}</div>
    <ol>
        {% for recipe in recipes %}
        <li> <a href="/recipes/{{recipe.id}}/edit">Edit</a> {{recipe.name}} </li>
        {% endfor %}
    </ol>
</body>
</html>
