<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit ingredients</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <div>
        {% if update_success == "yes" %}
        Update successful!
        {% elif update_success == "no" %}
        Update failed!  Call that stupid admin.
        {% else %}
        <!-- No update detected -->
        {% endif %}
    </div>
    <ol>
        {% for recipe in recipes %}
        <li> <a href="/recipes/{{recipe.id}}/edit">Edit</a> {{recipe.name}} </li>
        {% endfor %}
    </ol>
</body>
</html>
