<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="sticky-heading"><a href="/">Home</a></div>
    <h1>New Recipe</h1>
    <form action="/recipes" method="POST">
        <div><label class="proper-word">Name:</label><br /><input type="text" name="name" pattern="^[^ ].+[^ ]$" required /></div>
        <br />
        <label class="proper-word">Servings:</label><br /><input type="number" inputmode="numeric" min="1" name="servings" value="1" required /></div>
        <br />
        <br />
        <div class="input-line">
            <input id="routine-check" class="check" type="checkbox" name="is_routine" {{already_routine}}/>
            <label class="proper-word-for-status" for="routine-check">Routine</label>
        </div>
        <h2>Ingredients</h2>
        {% for name in names %}
        <div class="input-line">
            <input id="{{loop.index0}}" class="check" type="checkbox" name="{{ids[loop.index0]}}||selected" />
            <label class="recipe-name-label" for="{{loop.index0}}">{{name}}</label>
            <input class="check-and-scale-scale-text" type="number" step="0.1" inputmode="numeric" min="1.0" name="{{ids[loop.index0]}}||amount" />
        </div>
        <br />
        {% endfor %}
        <input type="submit" value="Make">
    </form>
</body>
</html>
