<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit an ingredient</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="sticky-heading"><a href="/">Home</a></div>
    <h1>Editing {{name}}</h1>
    <form action="/ingredients/{{id}}" method="POST">
        <div><label class="proper-word">Name</label><input type="text" name="name" value="{{name}}" required /></div>
        <br />
        <div><label class="proper-word">Aisle</label><input list="aisle_names" name="aisle" autocomplete="off" value="{{aisle}}" required /></div>
        <br />
        <input id="stocked-input" class="check" type="checkbox" name="stocked" {{stocked}} />
        <label class="proper-word-for-status" for="stocked-input">Stocked</label>
        <br />
        <datalist id="aisle_names">
            {% for aisle_name in aisle_names %}
            <option value="{{aisle_name}}"></option>
            {% endfor %}
        </datalist>
        <input type="submit" value="Update" />
    </form>
</body>
</html>
