<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turn into a shopping list</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="sticky-heading"><a href="/">Home</a></div>
    <h1>Turn into a shopping list</h1>
    <form action="/quick/turn-into-a-list" method="POST">
        <div class="shopping-date"><label>Shopping on </label><input type="date" name="date" value="{{today}}" required /></div>
        <h2>Deselect items you don't want to add to the shopping list</h2>
        {% for item in items %}
        <div>
            <input id="{{loop.index0}}" class="check" type="checkbox" name="include_items" value="{{item.id}}" checked/>
            <label for="{{loop.index0}}">{{item.name}} @ {{item.amount}}x</label>
        </div>
        {% endfor %}
        <br />
        <div><input type="submit" value="Send"></div>
    </form>
</body>
</html>
