<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
</head>
<body>
    <h1>Manage lists</h1>
    {% if recent_lists %}
    <h2>Today's lists</h2>
    <ol>
        {% for list in recent_lists %}
        <li> <a href="/lists/{{list.id}}/shopping">{{list.display_date}}</a> </li>
        {% endfor %}
    </ol>
    <br />
    {% endif %}
    {% if some_close_to_past_freshness %}
    <div class="hint-text">
        Some of your frozen items are within two weeks of losing their freshness.
        Check the frozen items and plan a recipe soon!
    </div>
    {% endif %}
    <a href="/quick/list">Manage the quick list</a>
    <br />
    <a href="/lists/new">Make a new shopping list</a>
    <br />
    <a href="/lists/list">See all past lists</a>
    <br />
    <a href="/lists/recent">See recent recipes for inspiration</a>
    
    <h1>Manage ingredients</h1>
    <a href="ingredients/list">See and edit ingredients</a>
    <br />
    <a href="/ingredients/new">Add an ingredient</a>
    
    <h1>Manage recipes</h1>
    <a href="/recipes/list">See and edit recipes</a>
    <br />
    <a href="/recipes/new">Add a recipe</a>

    <h1>Manage the freezer</h1>
    <a href="/freezer-items/list">See and edit freezer items</a>
    <br />

    <a href="/freezer-items/new">Add a freezer item</a>
    <br />
    <a href="/freshness-table">Check the FDA Freshness table</a>
    
</body>
</html>
