<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checking stock</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <form action="/lists" method="POST">
        <input type="hidden" name="date" value="{{date}}" />
        {% for recipe in recipes %}
        <input type="hidden" name="recipes" value="{{recipe}}" />
        {% endfor %}
        {% for scale in scales %}
        <input type="hidden" name="scales" value="{{scale}}" />
        {% endfor %}
        <div>
            Check your stock of these ingredients.  Include them on your list?
        </div>
        <br />
        {% for name in names %}
        <div><input type="checkbox" name="include_ingredients" value="{{ids[loop.index0]}}" /> {{name}} </div>
        {% endfor %}
        <br />
        <div>Need other things that aren't in a recipe?  Add them here.</div>
        <br />
        {% for i in range(1, 11) %}
        <div>Name:<input type="text" name="arbitrary_names" />Aisle:<input type="text" name="arbitrary_aisles" />Amount:<input type="text" name="arbitrary_amounts"></div>
        {% endfor %}
        <br />
        <div><input type="submit" value="Include"></div>
    </form>
</body>
</html>
