<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>List Lists</title>
        <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div class="sticky-heading"><a href="/">Home</a></div>
        <h1>All lists</h1>
        <div class="quick-status">{{message}}</div>
        <ol>
            {% for list in all_lists %}
            <li> <a href="/lists/{{list.id}}/shopping">{{list.display_date}}</a> </li>
            {% endfor %}
        </ol>
    </body>
</html>
