<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a shopping list</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="sticky-heading"><a href="/">Home</a></div>
    <h1>New Shopping List</h1>
    {% if message %}
        <div class="quick-status">{{message}}</div>
        <br />
    {% endif %}
    <form action="/lists/confirm_stocked" method="POST">
        <div class="shopping-date"><label>Shopping on </label><input type="date" name="date" value="{{today}}" required /></div>
        {% if quick_items|length > 0 %}
        <h2>Quick Items</h2>
        <div><a href="/quick/list">Edit the quick list first</a></div>
        <br />
        <input class="check" id="include-quick-items" type="checkbox" name="include_quick_items" />
        <label class="recipe-name-label" for="include-quick-items">Include quick items</label> <div class="check-and-scale-scale"></div>
        <label class="quick-item-summary">{{quick_items}}</label>
        {% endif %}
        <h2>Available Recipes</h2>
        <label class="quick-item-summary">Routine recipes already selected</label>
        <br />
        <br />
        {% for recipe in recipes %}
        <div class="input-line">
            <!-- 
                Include all the available recipe IDs so we can match amount indexes to included
                recipe indexes.  All amounts are sent to the server when the form is submitted, but
                not all of the recipe IDs, because not-checked checkboxes aren't submitted.
            -->
            <input type="hidden" name="available" value="{{recipe.id}}" />
            <!-- 
                So I don't forget later, setting "checked" in-line in a tag with jinja isn't
                possible so use control statements to insert a whole tag instead :(
            -->
            {% if recipe.routine %}
            <input class="check" id="{{loop.index0}}" type="checkbox" name="included" value="{{recipe.id}}" checked />
            {% else %}
            <input class="check" id="{{loop.index0}}" type="checkbox" name="included" value="{{recipe.id}}" />
            {% endif %}
            <label class="recipe-name-label" for="{{loop.index0}}">{{recipe.name}}</label> <label class="recipe-name-label">Scale</label> <input class="check-and-scale-scale-text" type="text" inputmode="numeric" name="scales" value="1.0" />
        </div>
        <br />
        {% endfor %}
        <div class="edit-controls sticky-footer">
            <input type="submit" value="Create">
        </div>
    </form>
</body>
</html>
