<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a shopping list</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>New Shopping List</h1>
    <form action="/lists/confirm_stocked_and_arbitrary", method="POST">
        <div>
            Shopping list for day <input type="date" name="date" required />
        </div>
        <br />
        <div>Available Recipes:</div>
        {% for name in recipe_names %}
        <div class="new-recipe-ingredient-line">
            <input class="check" id="{{loop.index0}}" type="checkbox" name="included" value="{{recipe_ids[loop.index0]}}" />
            <label class="recipe-name-label" for="{{loop.index0}}">{{name}}</label> <div class="check-and-scale-scale"> <label class="recipe-name-label">Scale</label> <input class="check-and-scale-scale-text" type="text" name="scales" value="1.0" /> </div>
        </div>
        <br />
        {% endfor %}
        <div><input type="submit" value="Create"></div>
    </form>
</body>
</html>
