<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick list</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <div class="sticky-heading"><a href="/">Home</a></div>
    <h1>Quick List</h1>
    <div class="quick-status">{{message}}</div>
    {% if current|length > 0 %}
    <h2>Current quick items</h2>
    <ul>
        {% for item in current %}
        <div class="input-line">
            <li> <a href="/quick/{{item.id}}/delete">Delete</a> <label class="proper-name">{{item.amount}} {{item.name}} found in aisle {{item.aisle}}</label></li>
            <br />
        </div>
        {% endfor %}
    </ul>
    {% else %}
    <div>You have no quick items</div>
    {% endif %}
    <h2>New quick items</h2>
    <form action="/quick/list" method="POST">
        {% for i in range(1, 5) %}
        <div>
            Name:<input type="text" name="quick_items" />Aisle:<input list="aisle-names" name="quick_aisles" autocomplete="off" />Amount:<input type="text" inputmode="numeric" name="quick_amounts" />
        </div>
        <br />
        {% endfor %}
        <datalist id="aisle-names">
            {% for aisle_name in aisle_names %}
            <option value="{{aisle_name}}"></option>
            {% endfor %}
        </datalist>
        <div><input type="submit" value="Save for later"></div>
    </form>
</body>
</html>
