<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a shopping list</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>List for {{date}}</h1>
    {% for aisle in aisles %}
    <h2>{{aisle.name}}</h2>
    {% for item in aisle.items %}
    <input id="{{loop.index0}}" class="check" type="checkbox" name="{{field}}"/>
    <label class="proper-word" for="{{loop.index0}}">{{item.amount}} {{item.name}}</label>
    {% endfor %}
    {% endfor %}
</body>
</html>
