<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Going shopping</title>
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet" />
    <script src="{{ url_for('scripts', path='shopping-list.js') }}" defer></script>
</head>
<body>
    <div class="sticky-heading">
        <a href="/">Home</a>
        {% if allow_adding_items %}
        <a href="/lists/{{ list.id }}/update">Add some more items</a>
        {% endif %}
        <button type="submit" form="list-form">Send unchecked to the Quick List</button>
    </div>
    <h1>List for {{formatted_date}}</h1>
    <p id="listID" hidden>{{list.id}}</p>
    <div class="quick-status">{{message}}</div>
    <form id="list-form" action="/lists/{{list.id}}/send-to-quick-list" method="POST">
    {% for aisle in list.aisles %}
    <div>
        <h2>{{aisle.name}}</h2>
        {% for item in aisle.items %}
        <div>
            <input id="{{aisle.name}}-{{loop.index0}}" class="check" type="checkbox" name="{{item.id}}" value="{{item.id}}" />
            <label class="proper-word" for="{{aisle.name}}-{{loop.index0}}">{{item.amount}} {{item.name}}</label>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    </form>
    <br />
    {% if recipes_included|length > 0 %}
    <h3>Recipes included</h3>
    <div class="quick-item-summary">{{recipes_included}}</div>
    {% else %}
    <div class="quick-item-summary">No recipes included in this list</div>
    {% endif %}
</body>
</html>
